## Python: лекционные материалы. Версия 4.0 : В.Е. Дубровский, МГУ, ф-т психологии, 09.03.2020

Использование операций += -= = /= //= *=

In [7]:
# Стандартное алгебраическое сложение 

x = 1
x = x+1
print(x)

# Можно сократить запись, удобно в циклах, например для счетчиков числа итераций

x += 1
print(x)

2
3

In [8]:
n = 5

# n = n+3
n += 3
print(n)

# Такая же сокращенная версия доступна для остальных алгебраических операций

# n = n-2
n -= 2
print(n)

# n = n*3
n *= 3
print(n)

# Операция // называется целочисленным делением и возвращает только целую часть после деления 

n = 7
# n = n//2
n //= 2
print(n, 'Как мы видим, получилось число 3, так как 3.5 не являлось целым числом и было округлено автоматически')

# n = n/3
n /= 3
print(n)

#n = n**2
n **= 2
print(n)

8
6
18
3 Как мы видим, получилось число 3, так как 3.5 не являлось целым числом и было округлено автоматически
1.0
1.0

Генератор $range()$


Позволяет получать объекты типа $range$, которые затем можно легко преобразовать в переменные типа $list$, которые заполнены числами из указанного диапазона. Разберем параметры функции $range(a, b, c)$: 

$a$ -- число, с которого начинается создаваемый нами список чисел, например, с $a = 1$; 


$b$ -- число, до которого списке создается, т.е. в полученном списке будут все целые числа из полуинтервала $[a,b)$;


$c$ -- число, которое определяет шаг, с которым мы будем брать новые числа в список. То есть, если первое число $a$ было равно $1$, а $c = 2$, то следующий за $a$ элемент списка будет иметь вид $a+c$. И так вплоть до $<b$;

In [9]:
r = range(1, 7, 2)
print(r)
print(type(r))
print(list(r))

range(1, 7, 2)
<class 'range'>
[1, 3, 5]

In [10]:
lst = list(range(5))
print(lst)

lst = list(range(1, 5))
print(lst)

lst = list(range(5, 1, -2))
print(lst)

lst = list(range(-1, 4, 2))
print(lst)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[5, 3]
[-1, 1, 3]

In [11]:
lst = list(range(5))
print(lst)

lst = list(range(1, 5))
print(lst)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]

In [12]:
r = range(1, 15, 2)
print(len(r), min(r), max(r), sum(r))

7 1 13 49

Вообще, функция $range()$ заточена под работу с циклами. Поэтому давайте разберемся с ними. 

Циклы — это ключевая концепция компьютерных наук. Если вы хотите стать хорошим программистом, умение обращаться с циклами — это важнейший навык, который стоит освоить.

Начнем с циклов for

In [13]:
# Здесь цикл берет все n из диапозона от 0 до 3, не включая 3
# Это некоторая особенность синтаксиса, которую нужно просто запомнить: индексация начинается с 0 и идет до n-1 
# В данном случае n = 3, поэтому цикл будет выводить все числа от 0 до 2

for n in range(3):
    print(n)

0
1
2

In [14]:
# Также можно использовать индексы, напрямую из списка, т.е. его элементы
# Для этого надо просто написать for n in list: 
# И не забыть двоиточие в конце :)

r = range(-1,4,2)

for n in r:
    print(n)

-1
1
3

In [15]:
n = 4
for k in range(n//2):
    print(k)

0
1

In [16]:
lst = (1, 2, 3, 4)
for n in lst:
    #print(n, end = ' ')
    print(n)

1
2
3
4

In [28]:
# Создание пустого списка
info_lst = []

# Создание 10 записей
N = 10
age = 17
size = 39
room = 100

for n in range(N):
    age += 1
    size += 2
    room += 5
    new_info = {'age': age, 'size': size, 'room': room}
    info_lst.append(new_info)

# Вывод количества записей
print("Total number of records:", len(info_lst), '\n')

# Вывод первых 3 записей
for info in info_lst[:3]:
    print(info)

# Изменение одной записи
k=1
info_lst[k]['age'] = 50
info_lst[k]['size'] = 100
print()
print(info_lst[k])

Total number of records: 10

{'age': 18, 'size': 41, 'room': 105}
{'age': 19, 'size': 43, 'room': 110}
{'age': 20, 'size': 45, 'room': 115}

{'age': 50, 'size': 100, 'room': 110}

In [29]:
languages = {
            'Python' : 1991,
            'C' : 1973,
            'Java' : 1996,
            'JavaScript' : 1995,
            'Pascal' : 1970,
            'Fortran' : 1957,
            'Cobol' : 1959,
            'Algol' : 1958
            }

lang = 'Python'
print("Language", lang, "created in", languages[lang],'\n')

for key, val in languages.items():
    print("Key:", key, "\t\tValue:", val)

print('\n')
for key in languages.keys():
    print("Key:", key)

print('\n')
for key in languages:
    print("Key:", key)
    
print('\n')
for key in sorted(languages):
    print("Key:", key)
    
print('\n')
for val in languages.values():
    print("Value:", val)

Language Python created in 1991

Key: Python 		Value: 1991
Key: C 		Value: 1973
Key: Java 		Value: 1996
Key: JavaScript 		Value: 1995
Key: Pascal 		Value: 1970
Key: Fortran 		Value: 1957
Key: Cobol 		Value: 1959
Key: Algol 		Value: 1958


Key: Python
Key: C
Key: Java
Key: JavaScript
Key: Pascal
Key: Fortran
Key: Cobol
Key: Algol


Key: Python
Key: C
Key: Java
Key: JavaScript
Key: Pascal
Key: Fortran
Key: Cobol
Key: Algol


Key: Algol
Key: C
Key: Cobol
Key: Fortran
Key: Java
Key: JavaScript
Key: Pascal
Key: Python


Value: 1991
Value: 1973
Value: 1996
Value: 1995
Value: 1970
Value: 1957
Value: 1959
Value: 1958

Распечатать текст в столбик:

In [30]:
# Плохое, но работающее решение
msg = "Текст"
for n in range(len(msg)):
    print(msg[n])

Т
е
к
с
т

In [31]:
# Хорошее решение
msg = "Текст"
for s in msg:
    print(s)

Т
е
к
с
т

In [32]:
msg = "Карл у Клары украл кораллы"
print(msg.split())

print()
msg = "Карл  у  Клары  украл  кораллы"
print(msg.split())

print()
msg = "Карл\tу \tКлары украл\tкораллы"
print(msg)
print(msg.split())

print()
msg = "Карл:у::Клары::украл:кораллы"
print(msg.split(':'))

['Карл', 'у', 'Клары', 'украл', 'кораллы']

['Карл', 'у', 'Клары', 'украл', 'кораллы']

Карл	у 	Клары украл	кораллы
['Карл', 'у', 'Клары', 'украл', 'кораллы']

['Карл', 'у', '', 'Клары', '', 'украл', 'кораллы']

In [26]:
# Распечатать текст в столбик по словам
msg = "Карл у Клары украл кораллы"
for s in msg.split():
    print(s)

Карл
у
Клары
украл
кораллы

In [2]:
# Распечатать текст в столбик по словам
msg = "Карл=у=Клары=украл=кораллы"
for s in msg.split("="):
    print(s)

Карл
у
Клары
украл
кораллы

In [29]:
# использование символа табуляции
msg = "Карл\tу\t Клары\tукрал\tкораллы"
print(msg, '\n')

for s in msg.split():
    print(s)

Карл	у	 Клары	украл	кораллы

Карл
у
Клары
украл
кораллы

In [34]:
print("xy"*5)
print("="*10)
print(["="]*10)

xyxyxyxyxy
==========
['=', '=', '=', '=', '=', '=', '=', '=', '=', '=']

In [33]:
# Распечатать текст лесенкой по словам
msg = "Карл у Клары украл кораллы"

nb = 0    # счетчик пробелов
for s in msg.split():
    print(" "*nb, s)  # формируем длинный пробел
    nb += len(s)     # увеличиваем счетчик пробелов

 Карл
     у
      Клары
           украл
                кораллы

In [34]:
# вычислениe суммы n**n
N = 20

s = 0
for n in range(N):
    s += n**n
ss = float(s)

print("Сумма n**n (точное значение):",s)
print("Сумма n**n", n, "чисел:", ss)

Сумма n**n (точное значение): 2018612200059554303215025
Сумма n**n 19 чисел: 2.0186122000595543e+24

In [36]:
# Почему  программа вычисления факториала работает неправильно? Найдите все ошибки.
N = 5

nf = 1
for n in range(N):
    nf *= n
    print(n, nf)

print(str(N)+'! =', nf)

0 0
1 0
2 0
3 0
4 0
5! = 0

In [37]:
# программа вычисления факториала
import math
N = 30

nf = 1
for n in range(1, N + 1):
    nf *= n

print(str(N)+'! =', nf)
# для сравнения вызываем стандартную программу
print(str(N)+'! =', math.factorial(N))

30! = 265252859812191058636308480000000
30! = 265252859812191058636308480000000

Команда break

In [38]:
for n in range(10):
    if n > 3:
        break
    print(n)
print('on exit:', n)

0
1
2
3
on exit: 4

Команда continue

In [39]:
for n in range(1,10):
    if n%3 != 0:
        continue
    print(n)

3
6
9

In [52]:
for n in range(1,10):
    if not n%3:
        print(n)

3
6
9

Перебор элементов списка

In [9]:
langs = ['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', 'Cobol', 'Algol', 'Algol']

for lang in langs:
    print(lang)

print()
for lang in langs[2:4]:
    print(lang)

Python
C
Java
JavaScript
Pascal
Fortran
Cobol
Cobol
Algol
Algol

Java
JavaScript

In [40]:
langs=['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', 'Cobol', 'Algol', 'Algol']

for n in range(1, len(langs), 2):
    print(langs[n])

C
JavaScript
Fortran
Cobol
Algol

Если требуется одновременно элемент списка и его индекс (например, нужно распечатать нумерованный список), то можно сделать так:

In [41]:
langs=['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', 'Cobol', 'Algol']

for n in range(len(langs)):
    print(n, ":", langs[n])

0 : Python
1 : C
2 : Java
3 : JavaScript
4 : Pascal
5 : Fortran
6 : Cobol
7 : Cobol
8 : Algol

Но лучше использовать enumerate()

In [42]:
langs=['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', 'Cobol', 'Algol']
# преобразуем список в множество, чтобы удалить дубликаты
langs = set(langs)
# преобразуем множество в список
langs = list(langs)
# сортируем список
langs.sort()

for n, lang in enumerate(langs):
    print(n, ":", lang)

0 : Algol
1 : C
2 : Cobol
3 : Fortran
4 : Java
5 : JavaScript
6 : Pascal
7 : Python

In [63]:
# Распечатать текст лесенкой по словам (решение с использованием табуляции)
msg = "Карл у Клары украл кораллы"
for n, s in enumerate(msg.split()):
    print("\t"*n, s)    # используем знак табуляции

 Карл
	 у
		 Клары
			 украл
				 кораллы

Генератор списка

In [43]:
# Сформировать список, содержащий квадраты чисел
sqrs = []  # пустой список
for x in range(-4,4):
    sqrs.append(x**2)
print(sqrs)

[16, 9, 4, 1, 0, 1, 4, 9]

In [9]:
# Кортеж так сформировать нельзя:
sqrs = () # пустой кортеж
for x in range(-4,4):
    sqrs.append(x**2)    # вызовет ошибку
print(sqrs)

AttributeError: 'tuple' object has no attribute 'append'

В такой форме будет работать быстрее:

In [44]:
# List Comprehensions  списковое включение (https://ru.wikipedia.org/wiki/Списковое включение)

sqrs = [x**2 for x in range(-4,4)]
print(type(sqrs), sqrs)
print(type(sqrs), sqrs)

<class 'list'> [16, 9, 4, 1, 0, 1, 4, 9]
<class 'list'> [16, 9, 4, 1, 0, 1, 4, 9]

In [18]:
# перебор всех пар
lst = [(x**2, y**2) for x in range(4) for y in range(4) if x != y]
print(lst)

[(0, 1), (0, 4), (0, 9), (1, 0), (1, 4), (1, 9), (4, 0), (4, 1), (4, 9), (9, 0), (9, 1), (9, 4)]

In [45]:
# генератор, а не Tuple  Comprehensions!

sqrs = (x**2 for x in range(-4,4))
print(type(sqrs), tuple(sqrs))
print(type(sqrs), tuple(sqrs)) # ненератор нельзя вызывать второй раз!

<class 'generator'> (16, 9, 4, 1, 0, 1, 4, 9)
<class 'generator'> ()

In [37]:
# set  Comprehensions

sqrs = {x**2 for x in range(-4,4)}
print(type(sqrs), sqrs)

<class 'set'> {0, 1, 4, 9, 16}

In [11]:
# dict  Comprehensions - дополнительный материал

d = {key: value for key, value in zip([1, 2, 3], ['a', 'b', 'c'])}
print(type(d), d)

<class 'dict'> {1: 'a', 2: 'b', 3: 'c'}

In [9]:
# не путать с set  Comprehensions!

d = {(key, value) for (key, value) in zip([1, 2, 3], ['a', 'b', 'c'])}
print(type(d), d)

<class 'set'> {(1, 'a'), (3, 'c'), (2, 'b')}

In [14]:
# как создать словарь:
# вместо спискового включения [...] можно использовать генератор (...)

lst = [(key, value) for (key, value) in zip([1, 2, 3], ['a', 'b', 'c'])]
print(lst)
d = dict(lst)
print(type(d), d)

[(1, 'a'), (2, 'b'), (3, 'c')]
<class 'dict'> {1: 'a', 2: 'b', 3: 'c'}

In [13]:
# простой способ создания словаря

d = dict(zip([1, 2, 3], ['a', 'b', 'c']))
print(type(d), d)

<class 'dict'> {1: 'a', 2: 'b', 3: 'c'}

Одновременно можно проверять различные условия:

In [20]:
# Сформировать список, содержащий квадраты только четных чисел
sqrs = [x**2 for x in range(-4,4) if not x%2]
print(sqrs)

[16, 4, 0, 4]

In [20]:
# Сформировать кортеж, содержащий квадраты только нечетных чисел
sqrs = tuple(x**2 for x in range(-4,4) if x%2)
print(sqrs)

(9, 1, 1, 9)

In [22]:
langs=['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', 'Cobol', 'Algol', 'Algol']

# Печатать только элементы списка с нечетным номером
print([lang for idx, lang in enumerate(langs) if idx%2])

# Пропущенные значения
langs[7] = langs[9] = None
langs.append(None)
print(langs)

# Исключить пропущенные значения при печати
print([lang for lang in langs if lang != None])

['C', 'JavaScript', 'Fortran', 'Cobol', 'Algol']
['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', None, 'Algol', None, None]
['Python', 'C', 'Java', 'JavaScript', 'Pascal', 'Fortran', 'Cobol', 'Algol']

Циклы while

In [1]:
n = -2

while n <= 3:
    print(n, end=' ')
    n += 1

print()
print(n)

-2 -1 0 1 2 3
4

In [15]:
n = -2

while n <= 3:
    n += 1
    print(n, end=' ')
print()    
print(n)

-1 0 1 2 3 4
4

In [2]:
# изменение списка в цикле

# формируем список
lst = list(range(5))
lst *= 3
lst += [2,3]
print(lst)

n = 0    # счетчик удаленных цифр
k = 2
# удаляем из списка все цифры 2
while k in lst:
    lst.remove(k)
    n += 1

print(n, 'items removed: ', lst)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 2, 3]
4 items removed:  [0, 1, 3, 4, 0, 1, 3, 4, 0, 1, 3, 4, 3]

Взаимозаменяемость циклов

In [6]:
N = 100
s = 0
for n in range(N):
    s += n*n
print(n, s)


s = 0
n = 0
while n < N:
    s += n*n
    n += 1

print(n, s)

99 328350
100 328350